<%= simple_form_for(@pin, html: {class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
	<%= f.full_error :image_content_type, class: "alert alert-error" %>
  <%= f.input :image, label: "Upload an Image" %>
  <label class="url optional control-label">or enter a URL</label><div class="controls"><%= f.text_field :image_remote_url, class: "string url optional input-large popover-test", rel: "popover", :"data-trigger" => "hover", :"data-content"=>"If you want you can copy and paste a URL here." %></div>
  <br>
  <%= f.input :description, as: :text, input_html: { rows: "3" } %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
